<div class="field card">
  <div class="row">
    <div class="col-2">
      <span class="material-icons"><%= icon %></span>
    </div>
    <div class="col-10">
      <div class="card-body">
        <h4 class="card-title">
          <%= t(title) %>
        </h4>
        <p class="card-text">
          <%= desc %>
        </p>
      </div>
    </div>
  </div>
</div>

