<%= link_to new_user_session_path do %>
    <button type="button" class="btn btn-primary">Entrar</button>
<% end %>

<%= link_to 'Sair', destroy_user_session_path, method: 'delete' %>

<% if user_signed_in? %>
  <p>O email é <%= current_user.email %></p>
  <p>O nome é <%= current_user.name %></p>
<% end %>
 
 <section class="p-5" style="background-color: #eaf3f5">
        <h2 class="text-center fw-bold">Funcionalidades</h1>
        <div class="container">

            <div class="row mb-4">
              <div class="col-sm-6">
                <a href="/osces" class="card shadow rounded zoom" style="text-decoration: none; color: black">
                  <div class="card-body">
                    <h3 class="card-title">Cadastre novos OSCEs</h3>
                    <p class="card-text">Cadastre novos circuitos para serem aplicados a partir do zero e/ou reaproveitando as estações previamente criadas.</p>
                  </div>
                </a>
              </div>

              <div class="col-sm-6">
                <div class="card shadow rounded">
                  <div class="card-body">
                    <h3 class="card-title">Cadastre novos OSCEs</h3>
                    <p class="card-text">Cadastre novos circuitos para serem aplicados a partir do zero e/ou reaproveitando as estações previamente criadas.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-4">
              <div class="col-sm-6">
                <div class="card shadow rounded">
                  <div class="card-body">
                    <h3 class="card-title">Cadastre novos OSCEs</h3>
                    <p class="card-text">Cadastre novos circuitos para serem aplicados a partir do zero e/ou reaproveitando as estações previamente criadas.</p>
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="card shadow rounded">
                  <div class="card-body">
                    <h3 class="card-title">Cadastre novos OSCEs</h3>
                    <p class="card-text">Cadastre novos circuitos para serem aplicados a partir do zero e/ou reaproveitando as estações previamente criadas.</p>
                  </div>
                </div>
              </div>
            </div>

        </div>

    </section>

<section class="p-5" style="background-color: #eaf3f5">
    <h1 class="text-center">Sobre nós</h1>
    <div class="container">
        <div class="row mb-4">
            <div class="col-sm-6">
                <div class="card shadow rounded">
                    <div class="row">
                        <div class="col-md-2 d-flex align-items-center">
                            <img width="100" src="https://wp-sites.info.ufrn.br/admin/facisa/wp-content/uploads/sites/4/2019/04/assinatura.facisa.sigla-vertical.png">
                        </div>
                        <div class="col-md-10">
                            <div class="card-body">
                                <h3 class="card-title">IFRN</h3>
                                <p class="card-text">Cadastre novos circuitos para serem aplicados a partir do zero e/ou reaproveitando as estações previamente criadas.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card shadow rounded">
                    <div class="row">
                        <div class="col-md-2 d-flex align-items-center">
                            <img width="100" src="https://images.educamaisbrasil.com.br/content/superior/instituicao/logo/g/ifrn.png">
                        </div>
                        <div class="col-md-10">
                            <div class="card-body">
                                <h3 class="card-title">IFRN</h3>
                                <p class="card-text">Cadastre novos circuitos para serem aplicados a partir do zero e/ou reaproveitando as estações previamente criadas.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>



