<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<%= link_to 'Login', new_user_session_path %><br>
<%= link_to 'Registrar', new_user_registration_path %><br>
<%= link_to 'Estações', station_templates_url %>