@font-face {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    src: url('cabin/Cabin-Regular.ttf') format('truetype'),
    url('cabin/Cabin-Bold.ttf') format('truetype'),
    url('cabin/Cabin-BoldItalic.ttf') format('truetype'),
    url('cabin/Cabin-Italic.ttf') format('truetype'),
    url('cabin/Cabin-Medium.ttf') format('truetype'),
    url('cabin/Cabin-MediumItalic.ttf') format('truetype'),
    url('cabin/Cabin-SemiBold.ttf') format('truetype'),
    url('cabin/Cabin-SemiBoldItalic.ttf') format('truetype')
    ;
}
*{
    font-family: 'Cabin';
}
.navbar a{
    font-weight: bold;
}
.nav-link:hover, .navbar a:hover{
    text-decoration: underline;
}
a.no-decoration:hover{
    text-decoration: none;
}
.navbar a:hover h1, .navbar h1:hover{
    color: rgba(0,0,0,.7);
}
h1{
    color: rgba(0,0,0,.5);
}
h2{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    font-weight: bold;
}
.btn.bg-level1{
    background-color: #117BDD;
}
.btn.bg-level2{
    background-color: #36769E;
}
.btn.bg-level3{
    background-color: #EBE950;
}
.btn.bg-level4{
    background-color: #9E9D3E;
}
.btn.bg-level5{
    background-color: #EB544F;
}
.btn.level{
    display: inline-block;
    color: rgba(0,0,0,.4);
}
.btn-group > *{
    width: 50%;
}
.btn.level:hover, .btn.level.active{
    width: 300%;
    color: #000;
    font-weight: bold;
} 
.card .row .col-2 .material-icons{
    display: block;
    font-size: 6em;
    padding: .3em 0;
}
.card .row .col-10 .btn-group > *{
    font-size: 3em;
    padding: .003em;
    text-align: center;
    line-height: 1.5em;
    height: 1.5em;
}
.card-title{
    font-size: 1.2em;
    font-weight: bold;
}
/* Chrome, Safari, Edge, Opera */
input.no-arrows::-webkit-outer-spin-button,
input.no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.no-arrows[type=number] {
  -moz-appearance: textfield;
}
:root{
    --main-color: #EAF3F5;
}
.bg-main-color{
    background-color: var(--main-color) !important;
}